NodeRed/MQTT/Low Duty Cycle Math Result example/MQTT Client for LDC Math Result 03_03_2020.json
[{"id":"a24aab61.564278","type":"subflow","name":"Ldc Math Result","info":"","category":"","in":[{"x":80,"y":360,"wires":[{"id":"dd3e7473.3ceef8"}]}],"out":[{"x":1420,"y":240,"wires":[{"id":"7bf8b67b.86c548","port":0}]},{"x":1660,"y":360,"wires":[{"id":"7ca1796a.1ad2f8","port":0}]},{"x":1660,"y":500,"wires":[{"id":"dc833abf.1d2a98","port":0}]},{"x":1660,"y":640,"wires":[{"id":"b1afe423.6a3fb8","port":0}]},{"x":700,"y":720,"wires":[{"id":"b8dda9a2.637f38","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"218ef623.7d97ca","type":"function","z":"a24aab61.564278","name":"parsing","func":"// Decalre variable for each object we need from the MQTT frame\nvar deviceType = {}\nvar dacType = {}\nvar channelId = {}\nvar mathResultId = {}\nvar eventTime = {}\nvar startTime = {}\nvar endTime = {}\nvar data = {}\n\n/*******************************/\n/* Parsing the LDC Math Result frame */\n/*******************************/\n// device type in 1 byte\ndeviceType.payload = msg.payload[0]\n\n// acquasition mode in 1 byte\ndacType.payload = msg.payload[1]\n\n// channel id\nchannelId.payload = msg.payload[2]\n\n// math result id (type)\nmathResultId.payload = msg.payload[3]\n\n// Event time (in Unix format) (4 bytes) \neventTime.payload = []\nfor(i=0; i<4; i++){\n    eventTime.payload[i] = msg.payload[4+i]\n}\n\n// Start time (in Unix format) (4 bytes) \nstartTime.payload = []\nfor(i=0; i<4; i++){\n    startTime.payload[i] = msg.payload[8+i]\n}\n\n// End time (in Unix format) (4 bytes) \nendTime.payload = []\nfor(i=0; i<4; i++){\n    endTime.payload[i] = msg.payload[12+i]\n}   \n\n// data in 3 bytes\ndata.payload = []\nfor(i=0; i<3; i++){\n    data.payload[i] = msg.payload[16+i]\n}\n\n/***********************************/\n/* return all field in array object*/\n/***********************************/\nreturn [deviceType, dacType, data , mathResultId, eventTime, startTime, endTime, channelId]","outputs":8,"noerr":0,"x":300,"y":500,"wires":[["314c97f9.63b768"],["eb12c7f7.b649b8"],["61bba345.dbfe9c"],["eea1f26f.a0865"],["5452cf1c.c5913"],["e47206d6.ebae88"],["90958f34.fc682"],["b8dda9a2.637f38"]]},{"id":"314c97f9.63b768","type":"function","z":"a24aab61.564278","name":"get_deviceType","func":"var deviceType = {}\ndeviceType.topic = \"deviceType\"\nswitch(msg.payload){\n    case 0x01:\n        deviceType.payload = \"AX 3D\"\n        break;\n    case 0x02:\n        deviceType.payload = \"HI- INC MONO\"\n        break;\n    case 0x03:\n        deviceType.payload = \"HI- INC BI\"\n        break;\n    case 0x04:\n        deviceType.payload = \"X- INC MONO\"\n        break\n    case 0x05:\n        deviceType.payload = \"X- INC BI\"\n        break;\n    case 0x06:\n        deviceType.payload = \"AX 3DS\"\n        break;\n    default:\n        deviceType.payload = \"Unknow\"\n        break;\n        \n}\nreturn deviceType;","outputs":1,"noerr":0,"x":520,"y":240,"wires":[["7bf8b67b.86c548"]],"info":"This function get as input the device type code which is a hex value to decode it and return the device type in a readable format."},{"id":"eb12c7f7.b649b8","type":"function","z":"a24aab61.564278","name":"get_dacMode","func":"var dacMode = {}\ndacMode.topic = \"dacMode\"\nswitch(msg.payload){\n    case 0x01:\n        dacMode.payload = \"LowDutyCycle\"\n        break;\n    case 0x02:\n        dacMode.payload = \"Alarm\"\n        break;\n    case 0x03:\n        dacMode.payload = \"Streaming\"\n        break;\n    case 0x04:\n        dacMode.payload = \"Shock Detection\"\n        break\n    case 0x05:\n        dacMode.payload = \"Ldc Math Result\"\n        break;\n    case 0x06:\n        dacMode.payload = \"S.E.T\"\n        break;\n    case 0x07:\n        dacMode.payload = \"Dynamic math result\"\n        break;\n    default:\n        dacMode.payload = \"Unknow\"\n        break;\n        \n}\nreturn dacMode;","outputs":1,"noerr":0,"x":520,"y":300,"wires":[["7bf8b67b.86c548"]],"info":"This function get as input the dac mode code which is a hex value to decode it and return the dac mode in a readable format."},{"id":"5452cf1c.c5913","type":"function","z":"a24aab61.564278","name":"get-eventTimestamp","func":"var eventTimestamp = {}\neventTimestamp.topic = \"eventTimestamp\"\n\n// timestamp\neventTimestamp.payload = 0x00000000\neventTimestamp.payload |= msg.payload[0]\neventTimestamp.payload |= msg.payload[1]<<8\neventTimestamp.payload |= msg.payload[2]<<16\neventTimestamp.payload |= msg.payload[3]<<24\n\n\nreturn eventTimestamp;","outputs":1,"noerr":0,"x":540,"y":520,"wires":[["91c3f6fe.a989e8"]]},{"id":"7bf8b67b.86c548","type":"join","z":"a24aab61.564278","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850,"y":240,"wires":[[]]},{"id":"b8dda9a2.637f38","type":"function","z":"a24aab61.564278","name":"get_channelName","func":"var channelName = {}\nchannelName.topic = \"channelName\"\n\nswitch(msg.payload){\n    case 0x00:\n        channelName.payload = \"Ch_Z\"\n        break;\n    case 0x01:\n        channelName.payload = \"Ch_X\"\n        break;\n    case 0x02:\n        channelName.payload = \"Ch_Y\"\n        break;\n    case 0x03:\n        channelName.payload = \"Inc_X\"\n        break;\n    case 0x04:\n        channelName.payload = \"Inc_Y\"\n        break\n    default:\n        channelName.payload = \"Unknow\"\n        break;\n}\n\nreturn channelName;","outputs":1,"noerr":0,"x":530,"y":720,"wires":[[]],"info":"This function get as input the dac mode code which is a hex value to decode it and return the dac mode in a readable format."},{"id":"61bba345.dbfe9c","type":"function","z":"a24aab61.564278","name":"get_data","func":"// input\nvar dataHex = msg.payload\n// output\nvar data = {}\ndata.topic = \"data\"\n\n// measurement in 3 bytes , LSB first and last bit is a sign bit\n// convert hex to decimal\ndata.payload = 0x000000\ndata.payload |= dataHex[0]\ndata.payload |= (dataHex[1]<<8) \ndata.payload |= (dataHex[2]&0x7f<<16)\n\n//if sign bit equal 1 the measurement is negative\nif((dataHex[2]&0x80)==0x80){\n    data.payload *= -1\n}\n\n// divide data by 1000 to get the real measurement\ndata.payload = data.payload/1000\n\nreturn data;","outputs":1,"noerr":0,"x":520,"y":380,"wires":[["6ead3c1f.5537d4"]]},{"id":"eea1f26f.a0865","type":"function","z":"a24aab61.564278","name":"get_mathResultType","func":"var mathResultType = {}\nmathResultType.topic = \"mathResultType\"\n\nswitch(msg.payload){\n    case 0x01:\n        mathResultType.payload = \"Maximum\"\n        break;\n    case 0x02:\n        mathResultType.payload = \"Minimum\"\n        break;\n    case 0x03:\n        mathResultType.payload = \"Average\"\n        break;\n    default:\n        mathResultType.payload = \"Unknow\"\n        break;\n}\n\nreturn mathResultType;","outputs":1,"noerr":0,"x":540,"y":460,"wires":[["91c3f6fe.a989e8","6ead3c1f.5537d4"]],"info":"This function get as input the dac mode code which is a hex value to decode it and return the dac mode in a readable format."},{"id":"e47206d6.ebae88","type":"function","z":"a24aab61.564278","name":"get-startTimestamp","func":"var startTimestamp = {}\nstartTimestamp.topic = \"startTimestamp\"\n\n// timestamp\nstartTimestamp.payload = 0x00000000\nstartTimestamp.payload |= msg.payload[0]\nstartTimestamp.payload |= msg.payload[1]<<8\nstartTimestamp.payload |= msg.payload[2]<<16\nstartTimestamp.payload |= msg.payload[3]<<24\n\nreturn startTimestamp;","outputs":1,"noerr":0,"x":530,"y":580,"wires":[["91c3f6fe.a989e8"]]},{"id":"90958f34.fc682","type":"function","z":"a24aab61.564278","name":"get-endTimestamp","func":"var endTimestamp = {}\nendTimestamp.topic = \"endTimestamp\"\n\n// timestamp\nendTimestamp.payload = 0x00000000\nendTimestamp.payload |= msg.payload[0]\nendTimestamp.payload |= msg.payload[1]<<8\nendTimestamp.payload |= msg.payload[2]<<16\nendTimestamp.payload |= msg.payload[3]<<24\n\nreturn endTimestamp;","outputs":1,"noerr":0,"x":530,"y":620,"wires":[["91c3f6fe.a989e8"]]},{"id":"a288c1ad.3c5b7","type":"function","z":"a24aab61.564278","name":"select time converter","func":"// this function will return the timestamp depends on the math result type\n// if math result type is average then return start and end timestamps\n// if math result type is minimum or maximum then return only the event timestamp\n\n// input\nvar mathResultType = msg.payload.mathResultType\nvar eventTimestamp = msg.payload.eventTimestamp\nvar startTimestamp = msg.payload.startTimestamp\nvar endTimestamp = msg.payload.endTimestamp\n\n// output\n// time structon is [eventtimestamp for maximum value, eventtimestamp for minimum value, startTimestamp, endTimestamp]\nvar time = [null, null, null, null]\n\nif(mathResultType==\"Maximum\"){\n    time[0] = {}\n    time[0].payload = eventTimestamp.toString()\n}\nelse if(mathResultType==\"Minimum\"){\n    time[1] = {}\n    time[1].payload = eventTimestamp.toString()\n}\nelse if(mathResultType==\"Average\"){\n    time[2] = {}\n    time[2].payload = startTimestamp.toString()\n    time[3] = {}\n    time[3].payload = endTimestamp.toString()\n}\n\nreturn time;","outputs":4,"noerr":0,"x":960,"y":620,"wires":[["5ea72cda.164f94"],["f00f08b5.851338"],["8d3962e2.a0a9c"],["8ece34bb.115898"]]},{"id":"5ea72cda.164f94","type":"moment","z":"a24aab61.564278","name":"max event time","topic":"maxEventTime","input":"","inputType":"msg","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD/MM/YYYY HH:mm:ss","locale":"fr_FR","output":"","outputType":"msg","outTz":"ETC/GMT","x":1200,"y":520,"wires":[["a40df951.e6c6c8"]]},{"id":"8d3962e2.a0a9c","type":"moment","z":"a24aab61.564278","name":"start time","topic":"startTime","input":"","inputType":"msg","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD/MM/YYYY HH:mm:ss","locale":"fr_FR","output":"","outputType":"msg","outTz":"ETC/GMT","x":1180,"y":600,"wires":[["534d52c5.78165c"]]},{"id":"8ece34bb.115898","type":"moment","z":"a24aab61.564278","name":"end time","topic":"endTime","input":"","inputType":"msg","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD/MM/YYYY HH:mm:ss","locale":"fr_FR","output":"","outputType":"msg","outTz":"ETC/GMT","x":1180,"y":640,"wires":[["534d52c5.78165c"]]},{"id":"91c3f6fe.a989e8","type":"join","z":"a24aab61.564278","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":770,"y":620,"wires":[["a288c1ad.3c5b7"]]},{"id":"f00f08b5.851338","type":"moment","z":"a24aab61.564278","name":"min event time","topic":"minEventTime","input":"","inputType":"msg","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD/MM/YYYY HH:mm:ss","locale":"fr_FR","output":"","outputType":"msg","outTz":"ETC/GMT","x":1200,"y":560,"wires":[["37347381.b212bc"]]},{"id":"6ead3c1f.5537d4","type":"join","z":"a24aab61.564278","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":770,"y":380,"wires":[["5f85c782.eff2f8"]]},{"id":"5f85c782.eff2f8","type":"function","z":"a24aab61.564278","name":"data separator","func":"\n// input\nvar mathResultType = msg.payload.mathResultType\nvar data = msg.payload.data\n\n// output\nvar output = [null, null, null]\n\nif(mathResultType==\"Maximum\"){\n    output[0] = {}\n    output[0].topic = \"maxValue\"\n    output[0].payload = data\n}\nelse if(mathResultType==\"Minimum\"){\n    output[1] = {}\n    output[1].topic = \"minValue\"\n    output[1].payload = data\n}\nelse if(mathResultType==\"Average\"){\n    output[2] = {}\n    output[2].topic = \"avgValue\"\n    output[2].payload = data\n}\n\nreturn output;","outputs":3,"noerr":0,"x":1180,"y":380,"wires":[["a40df951.e6c6c8"],["37347381.b212bc"],["534d52c5.78165c"]]},{"id":"534d52c5.78165c","type":"join","z":"a24aab61.564278","name":"Avg join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1400,"y":640,"wires":[["b1afe423.6a3fb8"]]},{"id":"a40df951.e6c6c8","type":"join","z":"a24aab61.564278","name":"Max join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1400,"y":360,"wires":[["7ca1796a.1ad2f8"]]},{"id":"37347381.b212bc","type":"join","z":"a24aab61.564278","name":"Min join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1400,"y":500,"wires":[["dc833abf.1d2a98"]]},{"id":"7ca1796a.1ad2f8","type":"change","z":"a24aab61.564278","name":"Max","rules":[{"t":"set","p":"topic","pt":"msg","to":"max","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":360,"wires":[[]]},{"id":"dc833abf.1d2a98","type":"change","z":"a24aab61.564278","name":"Min","rules":[{"t":"set","p":"topic","pt":"msg","to":"min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":500,"wires":[[]]},{"id":"b1afe423.6a3fb8","type":"change","z":"a24aab61.564278","name":"Avg","rules":[{"t":"set","p":"topic","pt":"msg","to":"avg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":640,"wires":[[]]},{"id":"dd3e7473.3ceef8","type":"function","z":"a24aab61.564278","name":"MQTT frame verification","func":"/*\nBecause the Static topic is not reserved only for Alarm mode data\n(shared with LDC mode and ldc math result),\nwe need to filter the message payload come from the BeanDevice \nand select only the frame with acquasition mode equal to 0x02 \nwhich is the code for the Alarm mode.\n(Note: all frames comes from any acquisition mode start with:\n    device type (first byte),\n    acquasition mode (second byte),\n    the rest of the frame it depends on the dac mode)\n*/\n\n// verify if it's from Alarm mode\nif(msg.payload[1]!=0x05){\n    // by returning nothing, the next node will receive nothing which mean it will not start\n    return;\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":900,"wires":[["218ef623.7d97ca"]]},{"id":"d133d0a9.0850c","type":"tab","label":"MQTT Client for LDC Math Result 03_03_2020 v1","disabled":false,"info":""},{"id":"472d8a06.285f84","type":"mqtt in","z":"d133d0a9.0850c","name":"Broker (topic: SENSOR/0)","topic":"F0B5D1A48F4E0000/SENSOR/0","qos":"0","datatype":"auto","broker":"5ab5d8b8.d82498","x":550,"y":420,"wires":[["68db4e4b.95b99"]]},{"id":"38b30bfc.a74154","type":"comment","z":"d133d0a9.0850c","name":"Read me","info":"Company: BeanAir\nDate:   03/04/2020\nAuthor: Habib jomaa\nDescription:\nThis Example uses MQTT protocol to receive, parse and display the LDC math result.\nThe beandevice used is \"X-Inc\" with 5 channels active and the broker is \"broker.hivemq.com\", so make sure to:\n    + set your configuration right before running the example.\n    + connect this flow and the BeanDevice to the same broker.\n\n\nInformations we need:\n    LDC (Low Duty Cycle) Math Result frame content:\n+(0)---------+(1)------+(2)--------+(3)------------+(4)--------+(8)--------+(12)------+(16)--------+(19)\n|Device type |DAC type |Channel id |Math result Id |Event time |Start time |End time  |Data sample |\n|(1 byte)    |(1 byte) |(1byte)    |(1 byte)       |(4 bytes)  |(4 bytes)  |(4 bytes) |(3 bytes)   |\n+------------+---------+-----------+---------------+-----------+-----------+----------+------------+\n\n(Note: \n    + Time (Event, Start and End) is in Unix format (LSB first)\n    + Data sample (LSB first), the last bit is a sign bit)\n    + The Event time is for the maximum and minimum math result only\n    + The Start and End time is for the average math result only\n    \nReference\ndocuement http://www.wireless-iot.beanair.com/files/TN-RF-004-MQTT-Comnmunication-Protocol.pdf\n\nPreparation:\n1- Configure the beandevice to use the MQTT mode\n2- Make sure to enable the topic for static measurement of each channel\n3- Start running the beandevice in LDC mode\n\nSteps:\n1- connect to the broker\n2- subscribe to Ldc math result topics which is the list of static measurement topics in the beanscape MQTT configuration of the beandevice {[MAC_ID]/Sensor0, [MAC_ID]/Sensor1 ... etc}\n3- wait for payloads\n4- check DAC type if it's LDC Math Result\n5- parse the coming payload\n6- print the information","x":500,"y":320,"wires":[]},{"id":"a79a1021.58a7c","type":"ui_text","z":"d133d0a9.0850c","group":"f6818abe.1b0bd8","order":7,"width":8,"height":1,"name":"Z Average value","label":"Average value :","format":"{{msg.payload.avgValue}}","layout":"row-center","x":1140,"y":380,"wires":[]},{"id":"bf6e06ca.440fc8","type":"ui_text","z":"d133d0a9.0850c","group":"f6818abe.1b0bd8","order":8,"width":4,"height":1,"name":"z start time","label":"Start time:","format":"{{msg.payload.startTime}}","layout":"row-center","x":1130,"y":500,"wires":[]},{"id":"abea9a78.b75f78","type":"ui_text","z":"d133d0a9.0850c","group":"f6818abe.1b0bd8","order":1,"width":4,"height":1,"name":"Z Maximum Measurment","label":"Maximum Measurment:","format":"{{msg.payload.maxValue}}","layout":"row-center","x":1170,"y":300,"wires":[]},{"id":"7632e8c5.f6c948","type":"ui_text","z":"d133d0a9.0850c","group":"f6818abe.1b0bd8","order":9,"width":4,"height":1,"name":"z end time","label":"End time:","format":"{{msg.payload.endTime}}","layout":"row-center","x":1130,"y":540,"wires":[]},{"id":"6c91c963.271888","type":"ui_text","z":"d133d0a9.0850c","group":"f6818abe.1b0bd8","order":2,"width":4,"height":1,"name":"z max event time","label":"Event time:","format":"{{msg.payload.maxEventTime}}","layout":"row-center","x":1150,"y":420,"wires":[]},{"id":"cb5705a4.1cfb88","type":"ui_text","z":"d133d0a9.0850c","group":"f6818abe.1b0bd8","order":4,"width":4,"height":1,"name":"Z Minimum Measurmen","label":"Minimum Measurment:","format":"{{msg.payload.minValue}}","layout":"row-center","x":1170,"y":340,"wires":[]},{"id":"59e307fc.f14ec8","type":"ui_text","z":"d133d0a9.0850c","group":"f6818abe.1b0bd8","order":5,"width":4,"height":1,"name":"z min event time","label":"Event time:","format":"{{msg.payload.minEventTime}}","layout":"row-center","x":1140,"y":460,"wires":[]},{"id":"12c8c135.e9da5f","type":"ui_text","z":"d133d0a9.0850c","group":"fe2e106f.0b6b1","order":1,"width":4,"height":1,"name":"X Maximum Measurment","label":"Maximum Measurment:","format":"{{msg.payload.maxValue}}","layout":"row-center","x":1170,"y":620,"wires":[]},{"id":"7b0634a9.26d59c","type":"ui_text","z":"d133d0a9.0850c","group":"fe2e106f.0b6b1","order":2,"width":4,"height":1,"name":"X max event time","label":"Event time:","format":"{{msg.payload.maxEventTime}}","layout":"row-center","x":1150,"y":740,"wires":[]},{"id":"7c451476.3dd39c","type":"ui_text","z":"d133d0a9.0850c","group":"fe2e106f.0b6b1","order":4,"width":4,"height":1,"name":"X Minimum Measurmen","label":"Minimum Measurment:","format":"{{msg.payload.minValue}}","layout":"row-center","x":1170,"y":660,"wires":[]},{"id":"5973f8bd.0843b8","type":"ui_text","z":"d133d0a9.0850c","group":"fe2e106f.0b6b1","order":5,"width":4,"height":1,"name":"x min event time","label":"Event time:","format":"{{msg.payload.minEventTime}}","layout":"row-center","x":1140,"y":780,"wires":[]},{"id":"d39747ed.6fdc08","type":"mqtt in","z":"d133d0a9.0850c","name":"Broker (topic: SENSOR/1)","topic":"F0B5D1A48F4E0000/SENSOR/1","qos":"0","datatype":"auto","broker":"5ab5d8b8.d82498","x":550,"y":740,"wires":[["389373d2.b42c9c"]]},{"id":"338ef573.a08fca","type":"mqtt in","z":"d133d0a9.0850c","name":"Broker (topic: SENSOR/2)","topic":"F0B5D1A48F4E0000/SENSOR/2","qos":"0","datatype":"auto","broker":"5ab5d8b8.d82498","x":550,"y":1060,"wires":[["a534b993.0ad078"]]},{"id":"6c270d19.1177f4","type":"mqtt in","z":"d133d0a9.0850c","name":"Broker (topic: SENSOR/3)","topic":"F0B5D1A48F4E0000/SENSOR/3","qos":"0","datatype":"auto","broker":"5ab5d8b8.d82498","x":550,"y":1380,"wires":[["2b56df6e.b760c"]]},{"id":"84badfb6.a1554","type":"mqtt in","z":"d133d0a9.0850c","name":"Broker (topic: SENSOR/4)","topic":"F0B5D1A48F4E0000/SENSOR/4","qos":"0","datatype":"auto","broker":"5ab5d8b8.d82498","x":570,"y":1700,"wires":[["ae365240.fab0b"]]},{"id":"8da50aca.e3b308","type":"ui_text","z":"d133d0a9.0850c","group":"ef404540.ad5738","order":7,"width":8,"height":1,"name":"Y Average value","label":"Average value :","format":"{{msg.payload.avgValue}}","layout":"row-center","x":1140,"y":1020,"wires":[]},{"id":"5b52a0a5.3f904","type":"ui_text","z":"d133d0a9.0850c","group":"ef404540.ad5738","order":8,"width":4,"height":1,"name":"y start time","label":"Start time:","format":"{{msg.payload.startTime}}","layout":"row-center","x":1130,"y":1140,"wires":[]},{"id":"996e489f.99a4e8","type":"ui_text","z":"d133d0a9.0850c","group":"ef404540.ad5738","order":1,"width":4,"height":1,"name":"Y Maximum Measurment","label":"Maximum Measurment:","format":"{{msg.payload.maxValue}}","layout":"row-center","x":1170,"y":940,"wires":[]},{"id":"c898f815.804928","type":"ui_text","z":"d133d0a9.0850c","group":"ef404540.ad5738","order":9,"width":4,"height":1,"name":"y end time","label":"End time:","format":"{{msg.payload.endTime}}","layout":"row-center","x":1130,"y":1180,"wires":[]},{"id":"d61e6f0f.fbd02","type":"ui_text","z":"d133d0a9.0850c","group":"ef404540.ad5738","order":2,"width":4,"height":1,"name":"y max event time","label":"Event time:","format":"{{msg.payload.maxEventTime}}","layout":"row-center","x":1150,"y":1060,"wires":[]},{"id":"7f19c8c3.bf8788","type":"ui_text","z":"d133d0a9.0850c","group":"ef404540.ad5738","order":4,"width":4,"height":1,"name":"Y Minimum Measurmen","label":"Minimum Measurment:","format":"{{msg.payload.minValue}}","layout":"row-center","x":1170,"y":980,"wires":[]},{"id":"6698f99f.d77c98","type":"ui_text","z":"d133d0a9.0850c","group":"ef404540.ad5738","order":5,"width":4,"height":1,"name":"y min event time","label":"Event time:","format":"{{msg.payload.minEventTime}}","layout":"row-center","x":1140,"y":1100,"wires":[]},{"id":"d5a69998.79a198","type":"ui_text","z":"d133d0a9.0850c","group":"65741de5.2a6734","order":7,"width":12,"height":1,"name":"Inc_X Average value","label":"Average value :","format":"{{msg.payload.avgValue}}","layout":"row-center","x":1160,"y":1340,"wires":[]},{"id":"35f1af0e.693b9","type":"ui_text","z":"d133d0a9.0850c","group":"65741de5.2a6734","order":8,"width":6,"height":1,"name":"Inc_X start time","label":"Start time:","format":"{{msg.payload.startTime}}","layout":"row-center","x":1140,"y":1460,"wires":[]},{"id":"7615ed2d.0f4144","type":"ui_text","z":"d133d0a9.0850c","group":"65741de5.2a6734","order":1,"width":6,"height":1,"name":"Inc_X Maximum Measurment","label":"Maximum Measurment:","format":"{{msg.payload.maxValue}}","layout":"row-center","x":1180,"y":1260,"wires":[]},{"id":"3c2f1100.5ab75","type":"ui_text","z":"d133d0a9.0850c","group":"65741de5.2a6734","order":9,"width":6,"height":1,"name":"Inc_X end time","label":"End time:","format":"{{msg.payload.endTime}}","layout":"row-center","x":1140,"y":1500,"wires":[]},{"id":"5ca2122d.d4f3bc","type":"ui_text","z":"d133d0a9.0850c","group":"65741de5.2a6734","order":2,"width":6,"height":1,"name":"Inc_X max event time","label":"Event time:","format":"{{msg.payload.maxEventTime}}","layout":"row-center","x":1160,"y":1380,"wires":[]},{"id":"8fbd69de.d0f948","type":"ui_text","z":"d133d0a9.0850c","group":"65741de5.2a6734","order":4,"width":6,"height":1,"name":"Inc_X Minimum Measurmen","label":"Minimum Measurment:","format":"{{msg.payload.minValue}}","layout":"row-center","x":1180,"y":1300,"wires":[]},{"id":"5f11b918.be44c8","type":"ui_text","z":"d133d0a9.0850c","group":"65741de5.2a6734","order":5,"width":6,"height":1,"name":"Inc_X min event time","label":"Event time:","format":"{{msg.payload.minEventTime}}","layout":"row-center","x":1160,"y":1420,"wires":[]},{"id":"f3481e47.d6056","type":"ui_text","z":"d133d0a9.0850c","group":"20f4c874.ca2f18","order":7,"width":12,"height":1,"name":"Inc_Y Average value","label":"Average value :","format":"{{msg.payload.avgValue}}","layout":"row-center","x":1160,"y":1660,"wires":[]},{"id":"d38e2cff.dc2d3","type":"ui_text","z":"d133d0a9.0850c","group":"20f4c874.ca2f18","order":8,"width":6,"height":1,"name":"Inc_Y start time","label":"Start time:","format":"{{msg.payload.startTime}}","layout":"row-center","x":1140,"y":1780,"wires":[]},{"id":"acfead9a.5c83e","type":"ui_text","z":"d133d0a9.0850c","group":"20f4c874.ca2f18","order":1,"width":6,"height":1,"name":"Inc_Y Maximum Measurment","label":"Maximum Measurment:","format":"{{msg.payload.maxValue}}","layout":"row-center","x":1180,"y":1580,"wires":[]},{"id":"abf92208.db6ef","type":"ui_text","z":"d133d0a9.0850c","group":"20f4c874.ca2f18","order":9,"width":6,"height":1,"name":"Inc_Y end time","label":"End time:","format":"{{msg.payload.endTime}}","layout":"row-center","x":1140,"y":1820,"wires":[]},{"id":"ede293d5.dc5d4","type":"ui_text","z":"d133d0a9.0850c","group":"20f4c874.ca2f18","order":2,"width":6,"height":1,"name":"Inc_Y max event time","label":"Event time:","format":"{{msg.payload.maxEventTime}}","layout":"row-center","x":1160,"y":1700,"wires":[]},{"id":"82bb5189.becb7","type":"ui_text","z":"d133d0a9.0850c","group":"20f4c874.ca2f18","order":4,"width":6,"height":1,"name":"Inc_Y Minimum Measurmen","label":"Minimum Measurment:","format":"{{msg.payload.minValue}}","layout":"row-center","x":1180,"y":1620,"wires":[]},{"id":"c232775b.14d298","type":"ui_text","z":"d133d0a9.0850c","group":"20f4c874.ca2f18","order":5,"width":6,"height":1,"name":"Inc_Y min event time","label":"Event time:","format":"{{msg.payload.minEventTime}}","layout":"row-center","x":1160,"y":1740,"wires":[]},{"id":"42471724.8da368","type":"ui_text","z":"d133d0a9.0850c","group":"fe2e106f.0b6b1","order":9,"width":4,"height":1,"name":"x end time","label":"End time:","format":"{{msg.payload.endTime}}","layout":"row-center","x":1130,"y":860,"wires":[]},{"id":"6a59672a.f47448","type":"ui_text","z":"d133d0a9.0850c","group":"fe2e106f.0b6b1","order":8,"width":4,"height":1,"name":"X start time","label":"Start time:","format":"{{msg.payload.startTime}}","layout":"row-center","x":1130,"y":820,"wires":[]},{"id":"1fd59c70.781b44","type":"ui_text","z":"d133d0a9.0850c","group":"fe2e106f.0b6b1","order":7,"width":8,"height":1,"name":"X Average value","label":"Average value :","format":"{{msg.payload.avgValue}}","layout":"row-center","x":1140,"y":700,"wires":[]},{"id":"68db4e4b.95b99","type":"subflow:a24aab61.564278","z":"d133d0a9.0850c","name":"","env":[],"x":860,"y":420,"wires":[["1810eb44.b37f55"],["abea9a78.b75f78","6c91c963.271888"],["cb5705a4.1cfb88","59e307fc.f14ec8"],["a79a1021.58a7c","bf6e06ca.440fc8","7632e8c5.f6c948"],[]]},{"id":"1810eb44.b37f55","type":"ui_text","z":"d133d0a9.0850c","group":"158893dd.30fb5c","order":1,"width":0,"height":0,"name":"device type and dac mode","label":"","format":"{{msg.payload.deviceType}} \"{{msg.payload.dacMode}}\" ","layout":"row-center","x":1170,"y":200,"wires":[]},{"id":"389373d2.b42c9c","type":"subflow:a24aab61.564278","z":"d133d0a9.0850c","name":"","env":[],"x":860,"y":740,"wires":[[],["12c8c135.e9da5f","7b0634a9.26d59c"],["7c451476.3dd39c","5973f8bd.0843b8"],["1fd59c70.781b44","6a59672a.f47448","42471724.8da368"],[]]},{"id":"a534b993.0ad078","type":"subflow:a24aab61.564278","z":"d133d0a9.0850c","name":"","env":[],"x":860,"y":1060,"wires":[[],["996e489f.99a4e8","d61e6f0f.fbd02"],["7f19c8c3.bf8788","6698f99f.d77c98"],["8da50aca.e3b308","5b52a0a5.3f904","c898f815.804928"],[]]},{"id":"2b56df6e.b760c","type":"subflow:a24aab61.564278","z":"d133d0a9.0850c","name":"","env":[],"x":860,"y":1380,"wires":[[],["5ca2122d.d4f3bc","7615ed2d.0f4144"],["5f11b918.be44c8","8fbd69de.d0f948"],["3c2f1100.5ab75","35f1af0e.693b9","d5a69998.79a198"],[]]},{"id":"ae365240.fab0b","type":"subflow:a24aab61.564278","z":"d133d0a9.0850c","name":"","env":[],"x":880,"y":1700,"wires":[[],["acfead9a.5c83e","ede293d5.dc5d4"],["82bb5189.becb7","c232775b.14d298"],["f3481e47.d6056","d38e2cff.dc2d3","abf92208.db6ef"],[]]},{"id":"5ab5d8b8.d82498","type":"mqtt-broker","z":"","name":"hivemq broker","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f6818abe.1b0bd8","type":"ui_group","z":"","name":"Channel Z","tab":"94a9becc.fcf65","order":2,"disp":true,"width":8,"collapse":false},{"id":"fe2e106f.0b6b1","type":"ui_group","z":"","name":"Channel X","tab":"94a9becc.fcf65","order":3,"disp":true,"width":8,"collapse":false},{"id":"ef404540.ad5738","type":"ui_group","z":"","name":"Channel Y","tab":"94a9becc.fcf65","order":4,"disp":true,"width":8,"collapse":false},{"id":"65741de5.2a6734","type":"ui_group","z":"","name":"Inclinometer X","tab":"94a9becc.fcf65","order":5,"disp":true,"width":12,"collapse":false},{"id":"20f4c874.ca2f18","type":"ui_group","z":"","name":"Inclinometer Y","tab":"94a9becc.fcf65","order":6,"disp":true,"width":12,"collapse":false},{"id":"158893dd.30fb5c","type":"ui_group","z":"","name":"Header","tab":"94a9becc.fcf65","order":1,"disp":false,"width":"24","collapse":false},{"id":"94a9becc.fcf65","type":"ui_tab","z":"d133d0a9.0850c","name":"BeanAir: MQTT LDC Math Result","icon":"dashboard","order":1,"disabled":false,"hidden":false}]